body {
    background-color: #e89b6bc5;
}

#guapoLogo {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: left;
    color: cornsilk;
}

#logo {
    
}

h1,
h2,
h3,
p, label{
    color: cornsilk;
}



.footer {
    text-align: center;
    color: cornsSilk;
  }

.footerGuapo {
    opacity: 60%;
}
