* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
        color: cornsilk;
}

* {
    box-sizing: border-box;
}

body {
 background-color: #e89b6bc5;
}

.footer {
    text-align: center;
}

.footerGuapo {
    opacity: 60%;
}

.registrierungLabel{
    color: rgba(126, 79, 24, 0.514);
}

a, a:hover {
    color: rgb(184, 107, 82);
}
