
* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: cornsilk;
    box-sizing: border-box;

}

.registrierungLabel {
    color: rgba(126, 79, 24, 0.514);
}

a {
    color:rgb(184, 107, 82);
    text-decoration: none;
}
a:hover  {
    color: cornsilk;
}

a:active, a:focus{
    color:rgb(184, 107, 82);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    padding-top: 140px;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #e9aa83;
}

.btn, button, .btn-primary{
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
    outline: none;
    background-color: cornsilk;
    color:rgb(184, 107, 82);
    box-shadow: none;
    outline: none;
}

.btn:hover, .btn:focus, .btn:active {
    background-color:rgb(184, 107, 82);
    color: cornsilk !important;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-item {
    border-color: rgba(135, 74, 54, 0.79);
}

@media screen and (max-width: 768px) {
    .card-image {
        width: 300px;
    }

    .card-products {
        width: 300px;
    }
}

.card-products {
    padding-left: 0px;
    padding-right: 0px;
}

.content{
    min-height: calc(100% - 50px);
    padding-bottom: 50px;
}

.navbar{
    background-color: #e9aa83;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link.active, .navbar i:hover, .navbar i.active {
    color: rgb(184, 107, 82);
}

/*Mobile*/

@media screen and (max-width: 768px) {
    .navbar-dark .navbar-toggler, .navbar-toggler:focus,
    .navbar-toggler:active{
        border-style: none;
        outline: none;
        box-shadow: none;
    }
    

    #menu-icon{
        font-size: 35px;
    }
    
    }

.navbar i {
    font-size: 20px;
}

.modal-header, .modal-footer, .modal-body, .modal-content{
    background-color:#e9aa83;
    border: none;
    outline: none;
}

.modal-content{
    padding: 15px;
}

#logoutContainer {
    display: none;
}